.home-content {
    margin: 5% 10%;
}

.home-text {
    text-align: left;
    padding-right: 10px;
}

.home-text.hp-left {
    padding-left: 25px;
    padding-right: 0;
}

.home-text h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-text h4 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
}

.home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,.1);
}

.home-photo .hp-inner {
    background-image: url(../images/main_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
}

.home-buttons {
    margin-top: 27px;
}

@media only screen and (max-width: 1100px) {
    .home-content {
        margin: 5% 0;
    }
}

@media only screen and (max-width: 767px) {
    .home-photo {
        width: 60%;
        padding-bottom: calc(60% - 36px);
        margin: 30px auto;
    }

    .home-text {
        padding-right: 0;
    }

    .home-text.hp-left {
        padding-left: 0;
    }

    .home-text h1,
    .home-text h4 {
        text-align: center;
    }

    .home-buttons {
        text-align: center;
    }
}

@media only screen and (max-width: 648px) {
    .home-photo,
    .home-photo.hp-left {
        width: 70%;
        padding-bottom: calc(70% - 36px);
    }
}

@media only screen and (max-width: 500px) {
    .home-photo,
    .home-photo.hp-left {
        width: 90%;
        padding-bottom: calc(90% - 36px);
    }

    .home-text h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .home-text h4 {
        font-size: 14px;
    }
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */