.home-content.with-video {
    margin: 5% 0;
}

.home-text {
    text-align: left;
    padding-right: 10px;
}

.home-text.hv-left {
    padding-left: 20px;
    padding-right: 0;
}

.home-text h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-text h4 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
}


.home-bgvideo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(56% - 40px);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 18px solid #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1);
}

.home-bgvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.home-buttons {
    margin-top: 27px;
}

@media only screen and (max-width: 1100px) {
    .home-content.with-video {
        margin: 5% 0;
    }
}

@media only screen and (max-width: 767px) {
    .home-bgvideo,
    .home-bgvideo.hv-left {
        margin: 20px auto 30px;
    }

    .home-text {
        padding-right: 0;
    }

    .home-text.hv-left {
        padding-left: 0;
    }

    .home-text h1,
    .home-text h4 {
        text-align: center;
    }

    .home-buttons {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .home-text h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .home-text h4 {
        font-size: 14px;
    }
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */