/*
* Theme Name: Leven - Resume / CV / vCard WordPress Theme
* Author: lmpixels
* Author URL: http://themeforest.net/user/lmpixels
* Version: 1.5.3
*/

/* =============================================================================

1. Main
2. Tables

============================================================================= */


/* ============================================================================= 
1. Main
============================================================================= */
.preloader, .preloader-portfolio {
  background-color: #222;
}

.logo-text {
  color: #fff;
}

.block-title h2:before, h3.comment-reply-title:before {
  background-color: #353535;
}

.blog-sidebar {
  background-color: #222;
}

.lm-info-block {
  background-color: #333;
  border-color: #444;
}

.lmpixels-arrows-nav > div {
  background-color: #000;
  border-color: #252525;
}

.portfolio-filters li.active a, .portfolio-filters li.active a:hover,
.portfolio-filters li a, .portfolio-filters li a:hover, .portfolio-filters li a:not([href]) {
  color: #f5f5f5;
}

.portfolio-grid figure .name,
.portfolio-grid figure .category {
  color: #f5f5f5;
  background-color: #222;
}

.portfolio-grid figure i {
  background-color: #222;
}

.site-content .entry-meta.entry-meta-bottom {
  background-color: #333;
  border-color: #444;
}

blockquote {
  border-color: #666;
}

.blog-card .category a {
  background-color: #222;
  color: #f5f5f5;
}

.header .social-links a {
  background-color: #444;
  color: #aaa;
}

.section-title-block.second-style .section-description {
  color: #bbb;
}

.project-description {
  background-color: #333;
  border-color: #444;
}

.section-inner.start-page-full-width .hp-text-block .sp-subtitle {
  color: #a5a5a5;
}

.info-block-w-icon i {
    color: #aaa;
}

.lm-info-block.gray-bg {
  background-color: #353535;
}

.section-title-block.first-style .section-description {
  color: #b5b5b5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  color: #e5e5e5;
}

.section-title {
  color: #555;
}

input[type=submit],
input[type=button],
button,
a.button {
  color: #fff;
}

.btn-primary, .btn-secondary, button, input[type="button"], input[type="submit"], .wp-block-button .wp-block-button__link {
  color: #fff;
  background-color: #333;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.78);
}

.form-control, .form-control:focus, .has-error .form-control, .has-error .form-control:focus, input[type="search"], input[type="password"], input[type="text"] {
  color: #eee;
  background-color: transparent;
  border-color: #555;
}

.info-block-w-icon .pe-7s-icon {
  color: #aaa;
}

.home-page-block h2 {
  color: #ff724c;
}

.home-page-description {
  color: #888;
}

.info-list li .title {
  color: #fff;
}

.info-list li .value {
  color: #eee;
}

ul.social-links li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    color: #e5e5e5;
    background-color: transparent;
    border: 1px solid #555;
    text-align: center;
}

ul.social-links li a:hover {
    color: #fff;
    background-color: #ff724c;
    border-color: transparent;
}

.theme-style-dark .testimonial-content,
.theme-style-dark .testimonial-content .testimonial-text {
  background-color: #282828;
  border-color: #444;
}

.theme-style-dark  .testimonial-author {
  color: #e5e5e5;
}

.theme-style-dark  .testimonial-picture img {
  border-color: #444;
}

.theme-style-dark  .testimonials.owl-carousel .owl-nav .owl-prev,
.theme-style-dark  .testimonials.owl-carousel .owl-nav .owl-next,
.theme-style-dark  .clients.owl-carousel .owl-nav .owl-prev,
.theme-style-dark  .clients.owl-carousel .owl-nav .owl-next {
  background-color: #555;
  border-color: #333;
}

.theme-style-dark .testimonial-icon {
    color: #454545;
}

.theme-style-dark .testimonial-icon-big {
  color: #353535;
}

.clients.owl-carousel .owl-dot span,
.testimonials.owl-carousel .owl-dot span {
  background-color: #454545;
}

.fun-fact-block {
  background-color: transparent;
}

.fun-fact-block.gray-bg {
  background-color: #282828;
}

.skills-first-style .skill-percentage {
  border-color: #222;
}

.skills-first-style .skill-container {
  border-color: #444;
}

.timeline {
  border-color: #282828;
}

.timeline-item:before,
.timeline-item:after {
  background-color: #333;
}

.timeline-item h5.item-period {
  color: #d5d5d5;
  background-color: #222;
}

.timeline-item .item-company {
  color: #aaa;
}

.portfolio-page-nav > div.nav-item a {
  color: #aaa;
  background-color: #333;
}

.share-buttons a {
  background-color: #999;
  color: #fff;
  border: 1px solid transparent;
}

.mobile-header {
  background-color: #222;
  border-color: #444;
}

.mobile-header .mobile-site-title {
  color: #fff;
}

.header-search input.form-control {
  border-color: #555;
  background-color: transparent;
}

.page-portfolio-loaded,
.portfolio-page-content {
  background-color: #222;
}

.blog-card .post-without-f-image {
  background-color: #444;
}

.blog-card .post-date {
  color: #aaa;
}

.site-content footer.entry-meta,
.post-navigation a,
.entry-meta .divider {
  color: #555;
}

.post-navigation a {
  color: #444;
}

.entry-meta .share-buttons a,
.tags a, .tags li a, .tagcloud a {
  background-color: #666;
  border: 1px solid transparent;
  color: #fff;
}

.blog-sidebar .sidebar-item {
  border-color: #444; 
}

.blog-sidebar a {
    color: #e5e5e5;
}

.sidebar-toggle {
  background-color: #222;
  border-color: #444;
}

.calendar_wrap th {
  color: #888;
  background: #353535;
}

.calendar_wrap td {
  background: #555;
  color: #b3b3b3;
}

.calendar_wrap td a {
  color: #fff;
}

.list-view .site-content article {
  border-color: #555;
}

.archive-title,
.page-title {
  color: #777;
}

.paging-navigation a {
  color: #555;
}

.paging-navigation a:hover {
  color: #777;
}

.entry-meta.entry-tags-share {
  background-color: #333;
}

.comment-metadata {
  border-color: #777;
  color: #777;
}

.comment-list .trackback a, .comment-list .pingback a, .comment-metadata a {
  color: #777;
}

.wp-block-separator {
  border-color: #555;
}

.wp-block-button .wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):active,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):hover {
  color: #fff;
}

.lmpixels-scroll-to-top {
  background-color: #333;
  border: 1px solid #222;
  color: #aaa;
}

.sidebar-toggle span,
.sidebar-toggle span:before {
  background: #aaa;
}

@media only screen and (max-width: 1170px) {
  .content-page-with-sidebar .blog-sidebar {
    background-color: #222;
  }
}

@media only screen and (max-width: 991px) {
  .menu-toggle i,
  .mobile-site-title a,
  .mobile-site-title a:hover,
  .mobile-site-title a:focus {
    color: #f5f5f5;
  }

  .header-content,
  .site-nav {
    background-color: #222;
  }
}

@media only screen and (min-width: 991px) {
  .list-view .site-content article:after {
    background-color: #555;
  }
}


/* ============================================================================= 
2. Tables
============================================================================= */
.fw-pricing .fw-package {
  border-color: #444;
  background-color: #333;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-package {
  border-color: #666;
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.12);
  -moz-box-shadow: 0 0 12px rgba(255, 255, 255, 0.12);
  -o-box-shadow: 0 0 12px rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.12);
}

.fw-pricing .fw-package:hover,
.fw-pricing .fw-package-wrap.highlight-col .fw-package:hover {
  -webkit-box-shadow: 0 0 24px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 0 0 24px rgba(255, 255, 255, 0.14);
  -o-box-shadow: 0 0 24px rgba(255, 255, 255, 0.14);
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.14);
}

.fw-table,
.fw-table table,
.fw-table table tr,
.fw-table table th,
.fw-table table td {
  border-color: #444;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: #444;
}

.wp-block-table.is-style-stripes {
  border-color: #444;
}

@media only screen and (min-width: 992px) {
  .site-main-menu .sub-menu {
    background-color: #333;
  }
}



.theme-style-dark .home-photo,
.theme-style-dark .home-bgvideo {
  background-color: #444;
  border: 18px solid #444;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,.8);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.8);
}

.theme-style-dark .certificate-item {
  border-color: #444;
}

.theme-style-dark .certi-logo {
  background-color: #444;
}

.theme-style-dark .certi-id,
.theme-style-dark .certi-date {
  color: #aaa;
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */