.vidbg-container{position:absolute;z-index:-1;top:0;right:0;bottom:0;left:0;overflow:hidden;background-size:cover;background-repeat:no-repeat;background-position:center center}.vidbg-container video{position:absolute;margin:0;top:50%;left:50%;transform:translate(-50%, -50%);transition:0.25s opacity ease-in-out;max-width:none;opacity:0}.vidbg-overlay{position:absolute;top:0;right:0;bottom:0;left:0}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */